* {
  margin: 0;
  padding: 0;
}

h1 {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
}

.header {
  height: 10vh;
  width: 100%;
  background-color: #5b7065;
}

.header_container {
  padding: 20px;
}

.header_nav {
  text-align: center;
  position: relative;
}

a {
  text-decoration: none;
  color: #fff;
}

.header_nav li a:hover {
  transition: 1s;
  color: #e7f189;
}

.header_nav li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  padding: 5px;
  margin: 0 20px;
  user-select: none;
}

.header_nav li:hover {
  transform: scale(1.2);
  transition: 1s;
  color: #e7f189;
}

.main {
  background-color: #c9d1c8;
}

.main_container {
  padding: 40px;
}

.main-about {
  display: flex;
  justify-content: center;
  gap: 300px;
  margin-bottom: 40px;
}

.main-about_foto img {
  object-fit: cover;
  width: 350px;
  height: 350px;
  border-radius: 350px;
}

.main-about_foto img:hover {
  transform: scale(1.05);
  transition: 1s;
}

.main-goals_container {
  display: flex;
  justify-content: center;
  gap: 200px;
  margin-bottom: 40px;
}

.main-goals_elem {
  max-width: 250px;
  background-color: #bbd1b8bd;
  border-radius: 20px;
}

.main-goals_elem:hover {
  transition: 1s;
  background-color: #96d18fbd;
}

.main-goals_elem p {
  padding: 10px;
}

.main-goals_img img {
  object-fit: cover;
  width: 250px;
  height: 250px;
}

.main-goals_img {
  overflow: hidden;
  margin-bottom: 20px;
}

.main-goals_img img:hover {
  transform: scale(1.1);
  transition: 1s;
}

.main-skills_container li {
  list-style-type: none;
}

.main-skills_elem {
  display: flex;
  height: 100px;
  margin: 0 auto 40px;
  max-width: 900px;
}

.main-skills_img {
  min-width: 100px;
  text-align: center;
  margin-right: 20px;
}

.main-skills_elem img {
  height: 100px;
}

.main-skills_carousel {
  max-width: 900px;
  height: 100px;
  position: relative;
  background-color: #96d18f73;
  box-shadow: 0 10px 30px -10px rgba(65, 133, 82, 0.699);
  display: flex;
  overflow: hidden;
}

.slide {
  height: inherit;
  display: flex;
  align-items: center;
  animation: slideshow 25s linear infinite;
  gap: 80px;
  margin-right: 80px;
}

.slide__image {
  height: calc(100% - 40px);
}

.main-skills_carousel::before,
.main-skills_carousel::after {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 200px;
  height: 100%;
  content: "";
  background: linear-gradient(
    to left,
    rgba(125, 196, 196, 0.466) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.main-skills_carousel::before {
  left: 0;
  transform: rotate(180deg);
}

.main-skills_carousel::after {
  right: 0;
}

@keyframes slideshow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.main-code {
  max-width: 900px;
  margin: 0 auto 40px;
  font-weight: bold;
}

.main-code_container {
  padding: 20px 20px 20px;
  background-color: #1ba0a0;
}

.main-projects_container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-projects_img img {
  max-width: 900px;
  margin-bottom: 40px;
}

.main-education_container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-direction: row;
}

.main-education_elem {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

.main-education_img img {
  width: 200px;
}

.main-education_text {
  color: #04202c;
  font-size: 20px;
  font-weight: 600;
}

.main-languages_container {
  display: flex;
  text-align: center;
}

.main-language-block {
  margin: 0 auto 40px;
}

.main-languages_container {
  margin: 0 auto;
}

.main-languages_container pre {
  text-align: center;
}

.main-contacts_container ul {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.main-contacts_container li {
  display: inline-block;
  list-style-type: none;
  user-select: none;
}

.main-contacts_container img {
  width: 150px;
}

.footer {
  min-height: 10vh;
  background-color: #304040;
}

.footer_container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 400px;
}

.footer_container img {
  height: 40px;
}

.footer-text {
  font-weight: bold;
  letter-spacing: 3px;
  color: #fff;
}

.text-color-acent {
  color: #94a119;
}

.section-line {
  height: 2px;
  width: 94vw;
  background-color: #304040;
  margin: 0 auto 40px;
}

.heading-text {
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 40px;
}

.main-text {
  color: #04202c;
  font-size: 20px;
  font-weight: 600;
  text-align: justify;
  margin-bottom: 10px;
  max-width: 450px;
}

.yellow {
  color: rgb(255, 255, 65);
}

.darkblue {
  color: darkblue;
}

.blue {
  color: blue;
}

.violet {
  color: violet;
}

.code-color {
  color: #f0e47c;
}

.darkgreen {
  color: darkgreen;
}

.darkorange {
  color: rgb(255, 160, 44);
}
